a.xsl_file:link, a.xsl_file:visited, a.xsl_file:hover, a.xsl_file:active
{
  font-family: Verdana;
  font-size: 11px;
  color: #cd3700;
  TEXT-DECORATION: none
}
td.xsl_file_hl
{
  background-color: #FFF5EB
}
body.xsl_file, td.xsl_file, th.xsl_file, td.xsl_file_lt, td.xsl_file_hl
{
  margin: 2px;
  font-family: Verdana;
  font-size: 11px;
}
td.xsl_file_lt, td.xsl_file_hl
{
  text-align: left;
  vertical-align: middle;
}
td.xsl_file_rt
{
  text-align: right;
  vertical-align: top;
  font-family: Verdana;
  font-size: 11px;
}
.xsl_file_fl
{
  float: left;
}
.xsl_file_clcp
{
  float: right;
  font-weight: normal;
}
th.xsl_file
{
  background-color: #FFF5EB;
}
h4.xsl_file
{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: #BB0000;
}
h5.xsl_file
{
  font-family: Verdana;
}
.xsl_file_spanLink
{
  font-family: Verdana;
  cursor: pointer;
  color: #cd3700;
}
.xsl_file_title
{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  margin-top: 2px;
}
.xsl_file_subtitle
{
  font-family: Verdana;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}
pre.xsl_file
{
  font-family: Courier New;
  font-size: 12px;
  background-color: #FFF5EB;
  margin-top: 5px;
}
pre.xsl_file_codesnip
{
  font-family: Courier New;
  font-size: 12px;
  color: #000000;
  background-color: #FFF5EB;
}
p.xsl_file, .xsl_file_code, blockquote.xsl_file
{
  font-family: Verdana;
  font-size: 11px;
}
.xsl_file_margin15
{
  font-family: Verdana;
  font-size: 11px;
  margin-left: 15px;
  margin-right: 15px;
}
.xsl_file_sigContainer
{
  font-family: Verdana;
  font-size: 11px;
  background-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  border-color: #999999;
  margin-left: 15px;
  margin-right: 15px;
}
.xsl_file_excepType
{
  font-family: Verdana;
  font-size: 11px;
  float: left;
  width: 150px;
  background-color: #FFF5EB;
  border: 1px solid #ffffff;
}
.xsl_file_excepCond
{
  background-color: #FFF5EB;
  border: 1px solid #ffffff;
}
.xsl_file_excepTypeLine
{
  font-family: Verdana;
  font-size: 11px;
  float: left;
  width: 150px;
  border: 1px solid #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #FFF5EB;
  border-bottom-width: 1px;
}
.xsl_file_excepCondLine
{
  border: 1px solid #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #FFF5EB;
  border-bottom-width: 1px;
}
.xsl_file_sampLang
{
  font-family: Verdana;
  font-size: 11px;
  font-weight: bold;
  color: #C1060A;
  background-color: #FFF5EB;
  border-bottom-style: solid;
  border-bottom-color: #D8D3D2;
  border-bottom-width: 1px;
  height: 16px;
}
.xsl_file_container, .xsl_file_codesnip
{
  font-family: Verdana;
  font-size: 11px;
  margin-left: 15px;
  margin-right: 15px;
}
.xsl_file_header, .xsl_file_header1
{
  font-family: Verdana;
  color: #C1060A;
  background-color: #FFF5EB;
}
.xsl_file_tdheader
{
  font-family: Verdana;
  color: #280066;
  background-color: #efeff7;
  font-weight: bold;
}
.xsl_file_margLeft
{
  margin-left: 20px;
}
.xsl_file_tdheader, .xsl_file_header, .xsl_file_pre, .xsl_file_th
{
  font-family: Verdana;
  font-size: 11px;
  border-bottom-style: solid;
  border-bottom-color: #EFF4FF;
  border-bottom-width: 1px;
}
.xsl_file_test
{
  font-family: Verdana;
  font-size: 11px;
}
.xsl_file_footer
{
  font-family: Verdana;
  font-size: 11px;
  color: #000000;
  background-color: #FFFFFF;
  border-top-style: solid;
  border-top-color: #FFF5EB;
  border-top-width: 1px;
}

#xsl_file_spColexpAll
{
  margin-left: 5px;
  font-family: Verdana;
  font-size: 11px;
}
.notshown
{
  position: absolute;
  left: 0;
  top: 0;
  width:0;
  heigth:0;
  display:none;
}
